header{
    position: fixed;
    left: 0;
    top: 40px;
    width: 100%;
    z-index: 999;
    transition: 0.3s;

}
.header-main{
    border-radius: 25px;
    transition: 0.3s;
    padding: 20px;
    border: 1px solid transparent;

}
.header-show .header-main{
    transition: 0.3s;
    background: rgba(248, 250, 251, 1);

}
.logo{
    display: flex;
}

.menu-mobile{
    gap: 240px;
    justify-content: space-between;
    width: 100%;
}
.menu-scroll {
    gap: 50px;
}
.menu-scroll a{
    color: rgba(29, 34, 35, 0.50);
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
    transition: 0.3s;
    position: relative;
    white-space: nowrap;
}
.menu-scroll a:hover{
    opacity: 0.7;
}
.header-btn{
    gap: 20px;
    transition: 0.3s;
}
header .header-btn{
    opacity: 0;
}
.header-show .header-btn{
    opacity: 1;
}


.btn-login{
    transition: 0.3s;
    text-align: center;
    background: unset;
    white-space: nowrap;
    width: max-content;
    font-weight: 400;
    font-size: 15px;
    line-height: 135%;
    color: rgba(29, 34, 35, 1);
}
.btn-login:hover{
    opacity: 0.7;
}
.btn-reg {
    background: linear-gradient(90deg, #52D17C 0%, #4AA647 25.27%),
    linear-gradient(180deg, rgba(41, 133, 47, 0.301961) 0%, rgba(74, 166, 71, 0) 34.73%);
    box-shadow: 0px 5px 20px 0px rgba(79, 196, 108, 0.2);
    border-radius: 50px;
    padding: 18px 35px;
    transition: 0.3s;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-size: 15px;
    white-space: nowrap;
}
.btn-reg:hover, .btn-reg:active{
    opacity: 0.7;
}




.open-menu{
    display: none;
}
.close-menu {
    display: none;
}
.close-menu span {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;

}

.close-menu span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 3px;
    position: relative;
}
.close-menu span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -3px;
}

.close-menu span:nth-child(3){
    display: none;
}

.body_fix {
    overflow: hidden;
}

.menu-name-mob{
    display: none;
}
.nav-menu ul li{
    display: flex;
}

@media (max-width: 1199px){
    header {
        top: 15px;
    }
    .header-main {
        background: rgba(248, 250, 251, 1);
    }
    header .header-btn {
        opacity: 1;
    }
    .menu-scroll {
        gap: 32px;
    }
    .menu-mobile {
        gap: 105px;
    }
    header {
        top: 20px;
    }
    .logo{
        width: 161px;
    }
    .btn-reg {
        padding: 14px 30px;
        font-size: 15px;
    }
    .btn-login {
        font-size: 15px;
    }

    .header-main {
        border-radius: 15px;
        padding: 15px;
    }
}

@media (max-width: 1020px) {
    .logo {
        width: 130px;
    }
    header {
        top: 15px;
    }
    .header-main {
        padding: 13px 15px;
    }
    .nav-menu{
        position: relative;
        z-index: 1;
    }
    .menu-name-mob{
        display: block;
    }

    .open-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
        transition: 0.3s;
        z-index: 111111;
        width: 24px;
        height: 24px;
    }
    .open-menu span{
        display: flex;
        background: #1C1B1F;
        width: 17px;
        height: 2px;
        transition: 0.3s;
    }

    .menu-content {
        width: 101%;
        position: fixed;
        z-index: 99999;
        top: 0;
        left: 0;
        transition: 0.5s;
        height: 0;
        overflow: hidden;

    }
    .transition-menu {
        height: 365px;
        -webkit-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
    }
    .menu-mobile{
        padding: 17px 15px 25px;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        width: 100%;
        margin: 0 auto;
        gap: 30px;
        border-radius: 10px;
        backdrop-filter: blur(40px);
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05);



    }
    .nav-menu ul {
        gap: 30px 16px;
        flex-wrap: wrap;
        max-width: 100%;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 35px;
    }
    .menu-mobile .glob-tit-name{
        display: flex;
        margin: 0;
    }

    .header-btn {
        margin-left: 0;
        flex-direction: row;
        align-items: center;
        width: 100%;
        position: relative;
        z-index: 1;
        gap: 20px;
        padding-left: 35px;
    }
    .menu-name-mob {
        width: 100%;
    }

    .menu-name-mob .logo {
        margin-top: -4px;
        margin-left: 0;
    }
    .nav-menu a {
        padding: 0;
        font-size: 12px;
        font-weight: 400;
        line-height: 10px;
    }

    .header-main{
        transition: 0.3s;
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05);
        backdrop-filter: blur(40px);
        background: linear-gradient(138.29deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 100%);

        border-radius: 10px;
    }

    .btn-login {
        font-size: 12px;
        border: unset;
        padding: 0;
        width: max-content;
        border-radius: 6px;
        box-shadow: unset;
    }
    .btn-reg {
        padding: 13px 30px;
        font-size: 12px;
    }

}

